.backdrop{
    position: absolute;
    height: 100vh;
    z-index: 21;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    left: 0;
    top: 0;
    @include flex(center,center);
    &_pop-up{
        position: relative;
        width: 80%;
        height: 600px;
        background-color: #fff;
        border-radius: 20px;
    }
}